# dependências
node_modules

# Gerado por compilação
primeng.js
componentes / ** / *. js
showcase / *. js
showcase / demo / ** / *. js
*.mapa

# Definição de tipo
tipagens
* .d.ts
! showcase / Resources / primeui / primeui.d.ts

# misc 
